name: CI
on: 
  - pull_request

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Check formatting
        run: make check-format

      - name: Enable long paths
        run: git config --system core.longpaths true

      - name: Build client
        run: make build

      - name: Run tests
        run: make test
