name: Release
on: 
  push:
    branches: 
      - main
      - devnet-*
  workflow_dispatch:
    inputs:
      ref:
        description: 'The reference (branch/tag/commit) to build'
        required: false

jobs:
  docker-release:
    name: Release docker images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref || github.ref }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Install cross
        if: runner.os == 'Linux'
        # cross don't publish tags, so using commit hash instead
        run: cargo install cross --git https://github.com/cross-rs/cross --rev 7b24b6e9f6834a3ac31d3dad1e2ff24c1b66f7cf

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & push docker images
        env:
          DOCKER_TAG: ${{ (github.ref_name == 'main' && 'unstable') || github.ref_name }}
        run: |
          make docker \
            DOCKER_TAG=${{ env.DOCKER_TAG }}
